<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean id="Point10" class="com.peer.pkg.Point">
		<property name="x" value="10" />
		<property name="y" value="0" />
	</bean>

	<bean id="calc" class="com.peer.pkg.Calculator">
		<constructor-arg index="0" value="100" />
		<constructor-arg index="1" value="5" />
	</bean>

	<bean id="zeb" class="com.peer.pkg.Animals">
		<constructor-arg type="int" value="2" />
		<constructor-arg type="int" value="4" />
		<constructor-arg type="java.lang.String" value="Zebra" />
	</bean>
</beans>